<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <!--<add name="ERP_SystemEntities" connectionString="metadata=res://*/ERP_MODEL.csdl|res://*/ERP_MODEL.ssdl|res://*/ERP_MODEL.msl;provider=System.Data.SqlClient;provider connection string='data source=.;initial catalog=&quot;ERP System&quot;;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
    <add name="ERP_SystemEntities1" connectionString="metadata=res://*/csdl|res://*/ssdl|res://*/msl;provider=System.Data.SqlClient;provider connection string='data source=.;initial catalog=&quot;ERP System&quot;;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
    <add name="ERP_SystemEntities2" connectionString="metadata=res://*/ERP_MODEL.csdl|res://*/ERP_MODEL.ssdl|res://*/ERP_MODEL.msl;provider=System.Data.SqlClient;provider connection string='data source=.;initial catalog=&quot;ERP System&quot;;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
    <add name="ERP_SystemEntities4" connectionString="metadata=res://*/ERP-SYSTEM_MODEL.csdl|res://*/ERP-SYSTEM_MODEL.ssdl|res://*/ERP-SYSTEM_MODEL.msl;provider=System.Data.SqlClient;provider connection string='data source=.;initial catalog=&quot;ERP System&quot;;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
    <add name="ERP_SystemEntities4" connectionString="metadata=res://*/ERP_SYSTEM_MODEL.csdl|res://*/ERP_SYSTEM_MODEL.ssdl|res://*/ERP_SYSTEM_MODEL.msl;provider=System.Data.SqlClient;provider connection string='data source=.;initial catalog=&quot;ERP System&quot;;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />-->
  <add name="ERP_SystemEntities" connectionString="metadata=res://*/ERP_SYSTEM_MODEL.csdl|res://*/ERP_SYSTEM_MODEL.ssdl|res://*/ERP_SYSTEM_MODEL.msl;provider=System.Data.SqlClient;provider connection string='data source=.;initial catalog=&quot;ERP System&quot;;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" /></connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>